<!-- <app-movie-list></app-movie-list>
<app-movie-detail></app-movie-detail> -->
<!-- <app-movie-add-edit></app-movie-add-edit>  -->
<!-- <div class="app">
    <header>
      <h1>Online Movie Ticket Booking System</h1>
    </header>
    <nav>
      <ul>
        <li><a routerLink="/movies">Movie List</a></li>
        <li><a routerLink="/movie-add">Add Movie</a></li>
      </ul>
    </nav> -->
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
  <!-- </div> -->


